<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>tt_news integration for T3sports</title>
</head>
<body>

###NEWSREPORT###
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Spielbericht</h3>
  </div>
  <div class="panel-body">
    ###NEWS_NEWSLINK######NEWS_TITLE######NEWS_NEWSLINK###
  </div>
</div>
###NEWSREPORT###


###NEWSPREVIEW###
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Vorbericht: ###NEWS_TITLE###</h3>
  </div>
  <div class="panel-body">
  ###NEWS_DATETIME###:
	###NEWS_SHORT###
	###NEWS_BODYTEXT###
	###NEWS_NEWSLINK###Link###NEWS_NEWSLINK###
  </div>
</div>
###NEWSPREVIEW###

</body>
</html>